@import "../../Style/App.scss";

.login-page-container {
  display: flex;
  flex-direction: column; /* Par défaut sur mobile */
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 100%; 
  min-height: 100vh;

  @include desktop {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    max-width: 80%;
    margin: 50px auto; 
  }

  @include mobile {
    margin-bottom: 0.5rem; 
  }

}

.logo-container {
  text-align: center;

  @include desktop {
    text-align: left; 
    width: 45%; 
  }

  img {
    max-width: 100%; 
    height: auto;
    margin-bottom: -3rem;

    @include mobile {
      margin-bottom: 0.5rem; 
    }
    
  }

  p {
    text-align: center;
    font-size: 18px;
    color: #eee;
    margin-top: -3rem;
    

    @include tablet {
      font-size: 22px;
    }

    @include laptop {
      font-size: 24px;
    }

    @include desktop {
      text-align: left;
      font-size: 26px;
    }
  }
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 2rem; 
  width:45%; 
    margin-left: 50px; 
  
  
  @include mobile {
    width: 90%;
    margin-top: 1.5rem;
    margin-left: 5px; 
  }

  @include tablet {
    width: 90%;
    margin-top: 1.5rem; 
    margin-left: 5px;
  }

  @include laptop {
    width: 95%;
    margin-top: 1.5rem; 
    margin-left: 5px;

  }



  h2 {
    font-size: 38px;
    margin-bottom: 10px;
    text-align: center;
    color: #eee;
  
    @include mobile {
      font-size: 24px;
    }
  
    @include tablet {
      font-size: 28px;
    }
    @include laptop {
      font-size: 38px;
    }
  
   
  }
  
  /* Texte sous le formulaire */
  p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: #eee;
  
    @include mobile {
      font-size: 14px;
    }
    @include tablet {
      font-size: 18px;
    }
    @include laptop {
      font-size: 22px;
    }
  
   
  }
}

.separator {
  display: none; /* Cacher sur mobile */

  @include desktop {
    display: block;
    position: absolute;
    height: 100%; 
    width: 2px;
    background-color: #eee;
    left: 47%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    
  }
}



.login-form input {
  width: 100%; 
  padding: 12px;
  margin: 10px 0; 
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;

  @include mobile {
    width: 100%; 
    padding: 10px;
    font-size: 14px;
  }

  @include tablet {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  @include laptop {
    padding: 14px;
    font-size: 16px;
  }

}

/* Bouton du formulaire */
.login-form button {
  width: 100%; 
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  text-align: center;

  &:hover {
    background-color: #eee;
    color: #007BFF;
  }

  @include mobile {
    padding: 10px;
    font-size: 14px; 
  }

  @include tablet {
    padding: 12px;
    font-size: 16px; 
  }

}

/* Lien de connexion */
.login-form-container a {
  color: #eee;
  font-size: 16px; 
  margin-top: 10px; 

  &:hover {
    text-decoration: underline;
  }

  @include mobile {
    font-size: 14px;
  }

  @include tablet {
    font-size: 16px;
  }


}